/* Signup form */
.form {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0rem 2rem;
  height: auto;
  margin-top: 3rem;
}

.form h1 {
  color: black;
}

.formitem {
  color: black;
  background-color: white;
  border: none;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgb(23, 22, 22);
}

.form input:focus {
  outline: none;
}

.submitbtn {
  border: none;
}

.red {
  color: red;
}

.Green {
  color: green;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.btn{
  width: 10%;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.decoration{
  text-decoration: none;
}

.black {
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.black:hover {
  background-color: gray;
  color: black;
}

.gray {
  background-color: gray;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.gray:hover {
  background-color: black;
}
@media screen and (max-width: 900px) {
  .form {
    padding: 0rem 1rem;  /* Adjust padding for smaller screens */
  }

  .formitem {
    width: 100%;  /* Make input fields full-width */
  }

  .form-buttons {
    flex-direction: column;  /* Stack buttons vertically */
    margin-top: 3rem;
  }

  .submitbtn, .gray {
    width: 100%;  /* Full-width buttons */
  }

  .container {
    width: 100%;  /* Ensure container takes up the full screen width */
  }

  .header {
    flex-direction: column;  /* Stack header elements for smaller screens */
  }

  .leftheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .centreheader {
    width: 100%;
    flex-direction: column;  /* Stack items in the center */
  }

  .rightheader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-info-container {
    min-width: 50%;  /* Adjust profile container width */
  }

  .center {
    flex-direction: column;
    padding: 0;
  }

  .centerleft {
    width: 100%;
    text-align: center;
  }

  .centerright {
    width: 100%;
    text-align: center;
  }

  .recomended {
    padding: 0;
  }

  .showitems {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .items {
    width: 100%;
    margin-bottom: 1rem;
    height: 220px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-section {
    width: 100%;
    text-align: center;
  }

  .footer-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .copyright {
    width: 90%;
  }
}
